<div class="container-fluid page-min-height">
  <div class="row">
    <div class="col-md-9">
      <h2 class="text-center my-5">Mon Tableau de bord</h2>
      <div class="container">
        <div class="row">
          <% @team.lists.order(:position).each do |list| %>             
            <div class="col-md-4">
              <h4 class="text-center"><%= list.name %></h4>
              <div class="card w-100 m-2 bg-danger p-2">

                <div class="card w-100 mb-3">
                  <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseList<%= list.id %>" aria-expanded="false" aria-controls="collapseList<%= list.id %>">
                    Créer une tâche
                  </button>
                  <div class="collapse" id="collapseList<%= list.id %>">
                    <div class="card card-body">
                      <%= simple_form_for [list, @card] do |f| %>
                        <%= f.input :name %>
                        <%= f.input :description %>
                        <%= f.input :drive_link %> 
                        <div class="d-flex justify-content-between">
                          <%= f.input :time_estimate %>
                          <%= f.input :time_unit, collection: ["jour(s)", "semaine(s)", "mois"]  %>               
                        </div>                  
                        <%= f.button :submit, "Valider", class: "btn btn-danger text-white" %>
                      <% end %>
                    </div>
                  </div>
                </div>

                <div class="w-100" data-controller="dragndrop" data-dragndrop-target="cards" data-list-id="<%= list.id %>">
                  <% list.active_cards.order(position: :asc).each do |card| %>
                    <%= render "teams/card", card: card %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <h2 class="text-center my-5">Mes tâches archivées</h2>
      <div class="container">
        <div class="row">
          
          <% @team.archived_cards.each do |card| %>
            <div class="col-md-4">
              <%= render "teams/card", card: card %>
            </div>
          <% end %>
          
        </div>
      </div>
    </div>
    <div class="col-md-3 bg-primary page-min-height pb-5">
      <h2 class="text-center text-white my-5">Ma team</h2>

      <div class="card w-100 p-3 mb-3">
        <h6 class="text-center">Le prochain rdv</h6>
        <p class="text-center mb-3"><strong><%= @team.meeting_date&.strftime("Le %d/%m/%y à %Hh%M") %></strong></p>
        <p class="text-center"><%= @team.meeting_place %></p>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Nouveau rdv
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nouveau rdv</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= simple_form_for @team, 
                                    url: team_meetings_path(@team), 
                                    method: :patch, 
                                    html: { data: { turbo: true } } do |form| %>
                  <div class="form-group">
                    <%= form.input :meeting_date, as: :string, label: "Date du rdv", input_html: { type: 'datetime-local', class: 'form-control' } %>
                  </div>

                  <div class="form-group">
                    <%= form.input :meeting_place, label: "Lieu du rdv", input_html: { class: 'form-control' } %>
                  </div>

                  <div class="form-group">
                    <%= form.button :submit, "Modifier", class: 'btn btn-primary text-white' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="accordion" id="accordionSidebar">
        <div class="">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Infos
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionSidebar">
            <div class="">

              <div class="card w-100 p-3 mb-3">
                <h6 class="text-center"><%= @team.project.name %></h6>
                <p class="text-center mb-3"><strong><%= @team.name %></strong></p>
                <small class="text-grey"><i><%= @team.project.subject.capitalize %></i></small>
                <p><%= @team.project.description %></p>
                
                <% if @team.drive_link.blank? %>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#driveLinkModal">
                    Ajouter un lien vers le drive
                  </button>
                <% else %>
                  <%= link_to "lien vers le drive du projet", @team.drive_link, target: "_blank", class: "btn btn-primary text-white" %>
                  <!-- Button trigger modal -->
                  <button type="button" class="no-btn text-primary" data-bs-toggle="modal" data-bs-target="#driveLinkModal">
                    Modifier le lien vers le drive
                  </button>
                <% end %>

                <!-- Modal -->
                <div class="modal fade" id="driveLinkModal" tabindex="-1" aria-labelledby="driveLinkModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="driveLinkModalLabel">Lien vers le drive</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for @team, html: { data: { turbo: true } } do |form| %>
                          <div class="form-group">
                            <%= form.input :drive_link, label: false, input_html: { class: 'form-control' } %>
                          </div>

                          <div class="form-group">
                            <%= form.button :submit, "Modifier", class: 'btn btn-primary text-white' %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>


              </div>

              <div class="card w-100 p-3 mb-3">
                <h6 class="text-center mb-3">L'équipe</h6>
                <div class="container-fluid">
                  <div class="row">     
                    <% @team.users.kept.where(teacher: nil).each do |user| %>
                    <div class="col-md-6">
                      <div class="w-100 d-flex mx-1 flex-column justify-content-center align-items-center">
                        <%= render "teams/card_avatar", user: user %>
                        <div class="m-2 w-100 text-center">
                          <p><b><%= user.first_name %></b></p>
                        </div>
                      </div>
                    </div>
                    <% end %>
                  </div>
                </div>
                <%= link_to "Progression de l'équipe", team_progressions_path(@team), class: "btn btn-primary text-white" %>
              </div>

              <div class="card text-center w-100 p-3 mb-3">
                <h6 class="mb-1">Messagerie Discord</h6>
                <div class="text-center w-100">
                  <%= image_tag "logo_discord.jpeg", class: "width-logo" %>
                </div>
                <%= link_to "Lien vers la messagerie", @team.project.batch.discord_server_url, target: "_blank" %>
                <%= link_to "Invitation pour la messagerie", @team.project.batch.discord_invite_url, target: "_blank"  %>
              </div>

            </div>
          </div>        

        </div>
      </div>
    </div>
  </div>
</div>