<div class="container-fluid page-min-height">
  <div class="row">
    <div class="col-md-9">
      <h2 class="text-center my-5">Les projets</h2>
      <div class="container">
        <div class="row">
        <% @projects.each do |project| %>
          <div class="col-md-4">
            <div class="card w-100 p-3 mb-2">
              <h6 class="text-center"><%= project.name %></h6>
              <small class="text-grey"><i><%= project.subject.capitalize %></i></small>
              <p><%= project.description %></p>
              <%= link_to "lien vers le drive", project.drive_link, target: "_blank" %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3 bg-primary page-min-height pb-5">
      <h2 class="text-center text-white my-5">Ton classement</h2>
      <% if current_user.pending? %>
        <div class="container" data-controller="sortable" data-sortable-animation-value="150" data-sortable-resource-name-value="rating"> <%# data-controller="dragndrop" data-dragndrop-target="ratings" %>
      <% else %>
        <div class="container">
      <% end %>
        <% current_user.ratings.order(:position).each do |rating| %>
        <div class="card w-100 p-3 mb-2" data-sortable-update-url="<%= rating_path(rating) %>">
          <h6 class="text-center"><%= rating.project.name %></h6>
        </div>
        <% end %>
      </div>
      <div class="container">
      <% if current_user.pending? %>
        <%= simple_form_for current_user do |f| %>
          <%= f.input :team_id, :as => :hidden, :input_html => { :value => current_user.team.id }  %>
          <%= f.input :progress, :as => :hidden, :input_html => { :value => :booked } %>
          <%= f.submit 'Valider ma liste', class: "btn btn-danger text-white w-100" %>
        <% end %>
        <% else %>
        <p>Ta liste est validée et donc plus modifiable. Nous attendons la validation de tous les élèves pour finaliser.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>