<div class="container-fluid page-min-height">
  <div class="row">
    <div class="col-md-9">
      <h2 class="text-center my-5">Les projets</h2>
      <div class="container">
        <div class="row">
        <% @projects.each do |project| %>
          <div class="col-md-4">
            <div class="card w-100 p-3 mb-2">
              <h6 class="text-center"><%= project.name %></h6>
              <div class="d-flex justify-content-center mb-3">
                <small class="text-grey text-center card w-50 bg-<%= project.subject.downcase %>"><i><%= project.subject.capitalize %></i></small>
              </div>
              <p class="text-justify"><%= project.description %></p>
              <%#= link_to "lien vers le drive", project.drive_link, target: "_blank" %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3 bg-primary page-min-height pb-5">
      <h2 class="text-center text-white my-5">Ton classement</h2>
      <div class="container">
        <div class="row g-0">
          <div class="col-2">
            <% current_user.ratings.order(:position).each do |rating| %>
              <div class="card mb-2 height-rating d-flex justify-content-center align-items-center">
                <h6><%= rating.position %></h6>
              </div>
            <% end %>


          </div>
          <div class="col-10">
            <% if current_user.pending? %>
              <div data-controller="sortable" data-sortable-animation-value="150" data-sortable-resource-name-value="rating"> <%# data-controller="dragndrop" data-dragndrop-target="ratings" %>
            <% else %>
              <div>
            <% end %>
              <% current_user.ratings.order(:position).each do |rating| %>
              <div class="card height-rating w-100 p-3 mb-2" data-sortable-update-url="<%= rating_path(rating) %>">
                <h6 class="text-center"><%= rating.project.name %></h6>
              </div>
              <% end %>
            </div>
            
          </div>
        </div>
      </div>
      <div class="container">
      <% if current_user.pending? %>
        <%= simple_form_for current_user do |f| %>
          <%= f.input :team_id, :as => :hidden, :input_html => { :value => current_user.team.id }  %>
          <%= f.input :progress, :as => :hidden, :input_html => { :value => :booked } %>
          <%= f.submit 'Valider ma liste', data: {turbo_confirm: "Es tu sûr de vouloir valider ton classemnt? Celui-ci ne sera plus modifiable."}, class: "btn btn-danger text-white w-100" %>
        <% end %>
        <% else %>
        <div class="card p-3 btn-supp">
          <p>Ton classement est validé et donc plus modifiable. Nous attendons la validation de tous les élèves pour finaliser.</p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>