<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/google_analytics" %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <%= yield(:robots) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%#= favicon_link_tag asset_path('favicon.ico') %> <!-- Uncomment for favicon -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div id='flash'>
      <%= render 'shared/flashes' %>
    </div>

    <div class="container-fluid page-min-height">
    <div class="row">
        <div class="col-md-3 bg-primary page-min-height pb-5">
        <h2 class="text-center text-white my-5">Mes cours</h2>

        <% if User.find_by(email: "jonathan.serafini@gmail.com").exam_nickname %>
          
          <div class="card w-100 p-3 mb-3">
            <h6 class="text-center">Mon Speudo Codewars d'examen</h6>
            <p class="text-center">Email pour codewars: <%= "#{current_user.student_number}@upf.pf" %></p>

            <% if current_user.exam_nickname %>
              <p class="text-center mb-3"><strong><%= current_user.exam_nickname %></strong></p>
              <p class="text-center">Nombre d'exercices finis: <%= current_user.exam_exo_count %></p>
            <% else %>

              <!-- Button trigger modal -->
              <button type="button" class="mt-3 btn btn-danger text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Ajouter mon pseudo d'examen
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Mon pseudo codewars d'examen</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <%= simple_form_for current_user, 
                                          url: exam_nicknames_path, 
                                          method: :post, 
                                          html: { data: { turbo: true } } do |form| %>
                        <div class="form-group">
                          <%= form.input :exam_nickname, as: :string, label: false, input_html: { class: 'form-control' } %>
                        </div>

                        <div class="form-group">
                          <%= form.button :submit, "Ajouter", class: 'btn btn-primary text-white' %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

            <% end %>
          </div>

        <% end %>



            <div class="accordion" id="accordionCourses">
            <% Course.all.order(:position).each_with_index do |course, index| %>
                <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
                    Cours <%= course.position %>
                    </button>
                </h2>
                <div id="collapse<%= index %>" class="accordion-collapse collapse" data-bs-parent="#accordionCourses">
                    <div class="accordion-body">
                    <%= link_to "Le Cours", course %>
                    <hr>
                    <%= link_to "Les Exercices", course_exercices_path(course) %>
                    <hr>
                    <%= link_to "Les Tickets", tickets_path %>
                    </div>
                </div>
                </div>
            <% end %>
            </div> 
        </div>
        <div class="col-md-9">
          <%= yield %>
        </div>
    </div>
    </div>



    <%= render 'shared/footer' %>
  </body>
</html>
